/* updating body for text */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}
.chart-container {
    margin-top: 20px;
}

.tooltip {
    position: absolute;
    padding: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
}

